<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>msg</key>
		<string>What can I do for you?</string>
		<key>ismine</key>
		<true/>
	</dict>
	<dict>
		<key>msg</key>
		<string>Where are you from?</string>
		<key>ismine</key>
		<false/>
	</dict>
	<dict>
		<key>msg</key>
		<string>I&apos;m from the UK.</string>
		<key>ismine</key>
		<true/>
	</dict>
</array>
</plist>
